#timeline {
  width: 800px;
  height: 100%;
  overflow: hidden;
  margin: 30px auto;
  position: relative;
  background: url("../img/timeline/dot.gif") left 45px repeat-x;
}

#timeline a {
  color: rgb(80, 106, 255);
  text-decoration: none;
  /* -webkit-transition: 0.5s;
    transition: 0.5s; */
}

#timeline a:hover, #timeline a.selected {
  /* color: rgb(32, 65, 253); */
  color: white;
}

#dates {
  width: 800px;
  height: 60px;
  overflow: hidden;
  margin-left: 300px;
}

#dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background: url("../img/timeline/biggerdot.png") center bottom no-repeat;
}

#dates a {
  line-height: 38px;
  padding-bottom: 10px;
}

#dates .selected {
  font-size: 38px;
}

#issues {
  width: 800px;
  height: 100%;
  overflow: hidden;
}

#issues li {
  width: 800px;
  height: 350px;
  list-style: none;
  float: left;
}

#issues li.selected img {
  /* -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); */
}

#issues li img {
  float: left;
  margin: 50px 35px 10px 0px;
  width: 192px;
  height: 220px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE 8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* IE 6 & 7 */
  zoom: 1;
  /* -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  /
  transform: scale(0.7, 0.7); */
}

#issues li h1 {
<<<<<<< HEAD
  color: rgb(80, 106, 255);
=======
  color: rgb(27, 138, 219);
>>>>>>> 4ec3b6d07857e3e7a8cc19dd9b1dbbaebd76406a
  display: flex;
  font-size: 36px;
  margin: 20px 100px 10px 0;
  line-height: 35px;
  text-shadow: #000 1px 1px 2px;
}

#issues li h2 {
  display: flex;
  margin-top: 0;
}

#issues li span, #issues li p, #issues li strong, #issues li sub, #issues li sup {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  text-shadow: #000 1px 1px 2px;
  text-align: justify;
}

<<<<<<< HEAD
#issues li p {
  margin-right: 50px;
}

#grad_left, #grad_right {
=======
#grad_left,
#grad_right {
>>>>>>> 4ec3b6d07857e3e7a8cc19dd9b1dbbaebd76406a
  width: 100px;
  height: 350px;
  position: absolute;
  top: 0;
}

#grad_left {
  left: 0;
  background: url("../img/timeline/grad_left.png") repeat-y;
}

#grad_right {
  right: 0;
  background: url("../img/timeline/grad_right.png") repeat-y;
}

#next,
#prev {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 38px;
}

<<<<<<< HEAD
#next svg, #prev svg {
  color: white;
}

#next {
  right: 100px;
}

#prev {
  left: 100px;
=======
#next:hover,
#prev:hover {
  background-position: 0 -76px;
}

#next {
  right: 0;
  background-image: url("../img/timeline/next.png");
}

#prev {
  left: 0;
  background-image: url("../img/timeline/prev.png");
>>>>>>> 4ec3b6d07857e3e7a8cc19dd9b1dbbaebd76406a
}

#next.disabled,
#prev.disabled {
  opacity: 0.2;
}
<<<<<<< HEAD

.timeline-item-container {
  width: 100%;
  overflow: hidden;
}

.timeline-item-img {
  width: 200px;
  float: left;
}

.timeline-item-body {
  margin-left: 220px;
}
=======
>>>>>>> 4ec3b6d07857e3e7a8cc19dd9b1dbbaebd76406a
